<!DOCTYPE html>
<html lang="nl">
  {% include 'partials/head'%}
  <body>
    {% include 'partials/header'%}</h1>
    <main>
      <ul aria-label="Selecteer een kledingstuk om te matchen">
        <li>Selecteer een kledingstuk om te matchen</li>
        {% for kledingtype in kledingTypes %}
          <li><a href="/match/{{ kledingtype.type }}" aria-label="{{ kledingtype.type }}">{{ kledingtype.type }}</a></li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>