<!DOCTYPE html>
<html>
  {% include 'partials/head'%}
  <body>
    {% include 'partials/header'%}</h1>
    <main>
      <h2>Kies je Kleding</h2>
      <form action="/resultaat">
        <fieldset aria-label="Selecteer een kledingstuk om te matchen">
          <legend>Selecteer {{ clothesToMatchWithType }} om te matchen</legend>
          {% for kledingtype in kledingTypes %}
            <label><input type="radio" name="kledingstuk" value={{ kledingtype.type }} tabindex={{ forloop.index }}>{{ kledingtype.type }}</label>
          {% endfor %}
        </fieldset>
    
        <input type="submit" value="Submit" aria-label="Druk op deze knop om verder te gaan" tabindex="17">
      </form>
    </main>
  </body>
</html> 