<!DOCTYPE html>
<html lang="nl">
  {% include 'partials/head'%}
  <body>
    {% include 'partials/header'%}</h1>
    <main>
      <h2>De kledingstukken die goed passen bij de {{ typeToMatch }} die jij hebt geselecteerd</h2>
      <ul aria-label="De kledingstukken die goed passen bij {{ typeToMatch }}">
        {% for kleding in matchingItems %}
          <li>{{ kleding.beschrijving }} in de kleur {{ kleding.kleur }}</li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html> 